body {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  overflow-x: hidden;
}
textarea {
  /* background-color: red; */
  border: 101px solid #e32300;
}

::selection{background:transparent; color:#ec5d41;}
::-moz-selection{background:transparent; color:#ec5d41;}
::-webkit-selection{background:transparent; color:#ec5d41;}

/* 顶部header */
.common-header {
  height: 88px;
  width: 100%;
  /* min-width: 1400px; */
  /* min-width: 1200px;
  overflow: auto; */
  /* background-color: #fff; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all .5s;
  text-align: right;
  min-width: 1200px;
  /* background: #ccc; */
  /* box-shadow: 0px 0px 15px #444; */
}
.common-header.other {
  background-color: #fff;
  box-shadow: 0 0 10px #000;
}
.common-header .logo1 {
  margin-left: 100px;
  display: inline-block;
  margin-top: 20px;
  position: absolute;
  left: 0;
  /* display: none; */
}
.common-header.other .logo1 {
  display: none;
}
.common-header .logo2 {
  margin-left: 100px;
  display: inline-block;
  margin-top: 20px;
  position: absolute;
  left: 0;
  display: none;
}
.common-header.other .logo2 {
  display: inline-block;
}
.common-header .content {
  /* position: absolute; */
  display: inline-block;
  right: 0;
  top: 0;
  height: 88px;
  line-height: 88px;
}
.common-header .content .top-item-wrap {
  display: inline-block;
}
.common-header .content .top-item-wrap .top-item {
  display: inline-block;
  margin: 0 16px;
  cursor: pointer;
  position: relative;
}
.common-header .content .top-item-wrap .top-item.home {
  margin-right: 20px;
}
.common-header .content .top-item-wrap .top-item .topBottom {
  position: absolute;
  display: inline-block;
  height: 6px;
  width: 100%;
  background-color: #ec5d41;
  left: 0;
  top: -1px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  transition: all .3s;
  transform: translateY(-6px);
}
.common-header .content .top-item-wrap li:hover .topBottom {
  transform: translateY(0px);
}
.common-header .content .top-item-wrap .top-item .fa {
  transition: all .3s;
  color: #fff;
}
.common-header.other .content .top-item-wrap .top-item .fa {
  color: #000;
}
.common-header .content .top-item-wrap .top-item:hover .fa {
  transform: rotate(180deg);
  color: #ec5d41;
}
.common-header .content .top-item-wrap .top-item b {
  transition: all .5s;
  color: #fff;
  font-size: 15px;
}
.common-header.other .content .top-item-wrap .top-item b {
  color: #3d4346;
}
.common-header .content .top-item-wrap .top-item:hover b {
  color: #ec5d41;
}
.common-header .content .top-item-wrap .top-item .second-wrap {
  background-color: rgba(255, 255, 255, .3);
  border-radius: 30px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(6px);
  transition: all .2s;
}
.common-header .content .top-item-wrap .top-item .second-wrap li:hover a {
  color: #fff;
}
.common-header.other .content .top-item-wrap .top-item .second-wrap {
  background-color: #ec5d41;
}
.common-header .content .top-item-wrap .top-item .second-wrap li a {
  color: rgba(255, 255, 255, .7);
  font-size: 15px;
}
.common-header .content .top-item-wrap .top-item .second-wrap.show {
  transform: translateY(0);
  opacity: 1;
  display: block;
  visibility: visible;
}
.common-header .content .top-item-wrap .top-item.aboutUs .second-wrap {
  position: absolute;
  width: 356px;
  height: 38px;
  line-height: 38px;
  bottom: -19px;
  left: 50%;
  margin-left: -178px;
  z-index: 2;
}
.common-header .content .top-item-wrap .top-item.product .second-wrap {
  position: absolute;
  width: 450px;
  height: 38px;
  line-height: 38px;
  bottom: -19px;
  left: 50%;
  margin-left: -225px;
  z-index: 2;
}
.common-header .content .top-item-wrap .top-item.technology .second-wrap {
  position: absolute;
  width: 572px;
  height: 38px;
  line-height: 38px;
  bottom: -19px;
  left: 50%;
  margin-left: -286px;
  z-index: 2;
}
.common-header .content .top-item-wrap .top-item.industry .second-wrap {
  position: absolute;
  width: 530px;
  height: 38px;
  line-height: 38px;
  bottom: -19px;
  left: 50%;
  margin-left: -265px;
  z-index: 2;
}
.common-header .content .top-item-wrap .top-item .second-wrap li {
  display: inline-block;
  margin: 0 16px;
  color: rgba(255, 255, 255, .8);
}
.common-header .content .top-item-wrap .top-item .second-wrap ul  {
  text-align: center;
}
.common-header .content .contact {
  display: inline-block;
  width: 140px;
  text-align: center;
  color: #fff;
  height: 40px;
  line-height: 39px;
  border-radius: 10px;
  background-color: #ec5d41;
  transition: all .3s;
  margin-right: 68px;
  font-size: 15px;
  vertical-align: top;
  margin-top: 25px;
}
.common-header .content .contact:hover {
  background-color: rgba(236, 93, 65, .8);
}
.common-header .content .lang {
  display: inline-block;
  margin-right: 10px;
  margin-left: 70px;
  color: #fff;
  font-size: 15px;
}
.common-header.other .content .lang {
  color: #000;
}
.common-header .lang i {
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
  margin-left: 5px;
}
/* 顶部header结束 */








/* 分页 */
.common-pages {
  height: auto;
  height: 77px;
  line-height: 77px;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  text-align: center;
}
.common-pages span {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}
.common-pages ul {
  display: inline-block;
}
.common-pages ul li {
  display: inline-block;
  color: #bbb;
  cursor: pointer;
  padding: 0 8px;
  border-top: 5px solid transparent;
}
.common-pages ul li.active {
  border-color: #e32300;
}

/* 分页结束 */


/* 文章的item */
.common-item {
  cursor: pointer;
}
.common-item .cover {
  width: 256px;
  height: 160px;
  position: relative;
}
.common-item .cover .imgWrap {
  width: 256px;
  height: 160px;
  overflow: hidden;
  border-top-left-radius: 30px;
}
.common-item .cover img {
  border-top-left-radius: 30px;
  display: block;
  width: 256px;
  height: 160px;
  transition: transform .5s;
}
.common-item:hover .cover img {
  transform: scale(1.2);
}
.common-item .cover span {
  display: block;
  position: absolute;
  background-color: #1b95c0;
  right: 14px;
  bottom: -12px;
  padding: 5px 8px;
  color: #fff;
  font-size: 12px;
}
.common-item h3 {
  font-size: 16px;
  font-weight: bolder;
  margin-top: 16px;
  line-height: 19px;
  transition: all .5s;
}
.common-item:hover h3 {
  color: #1b95c0;
}
.common-item p {
  font-size: 14px;
  opacity: .32;
  margin-top: 10px;
  line-height: 18px;
}

/* 文章的item结束 */


.fakeFooter img {
  display: block;
  width: 100%;
}


/* 鼠标效果开始 */
.mouse {
  background: #bbb linear-gradient(transparent 0%, transparent 50%, #fff 50%, #fff 100%);
  width: 30px;
  height: 48px;
  border-radius: 100px;
  background-size: 100% 200%;
  animation: colorSlide 5s linear infinite,nudgeMouse 5s ease-out infinite
}

.mouse:before,.mouse:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto
}

.mouse:before {
  width: 24px;
  height: 42px;
  background-color: #fff;
  border-radius: 100px
}

.mouse:after {
  background-color: #222a30;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  animation: trackBallSlide 5s linear infinite
}
/* 鼠标效果结束 */




.common-classify {
  font-size: 0;
}

.common-classify li {
  display: inline-block;
  background-color: rgba(255, 255, 255, .2);
  /* border: 1px solid rgba(255, 255, 255, .5); */
  border-radius: 15px;
  transition: all .3s;
  /* font-size: 16px;
  margin-right: 20px; */
}
.common-classify li a {
  display: block;
  color: rgba(255, 255, 255, .8);
  /* padding: 10px 14px; */
  /* padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px; */
}
.common-classify li:hover {
  background-color: #ec5d41;
  color: #fff;
}
.common-classify li.active {
  background-color: #ec5d41;
  color: #fff;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background-color: #fad8d2 !important;
  height: 12px !important;
  width: 12px !important;
  margin: -6px 0 0 -6px !important;
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  background-color: #ec5d41 !important;
}











@keyframes colorSlide {
  0% {
    background-position: 0% 100%
  }

  20% {
    background-position: 0% 0%
  }

  21% {
    background-color: #bbb
  }

  29.99% {
    background-color: #fff;
    background-position: 0% 0%
  }

  30% {
    background-color: #bbb;
    background-position: 0% 100%
  }

  50% {
    background-position: 0% 0%
  }

  51% {
    background-color: #bbb
  }

  59% {
    background-color: #fff;
    background-position: 0% 0%
  }

  60% {
    background-color: #bbb;
    background-position: 0% 100%
  }

  80% {
    background-position: 0% 0%
  }

  81% {
    background-color: #bbb
  }

  90%, 100% {
    background-color: #fff
  }
}

@keyframes nudgeMouse {
  0% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(8px)
  }

  30% {
    transform: translateY(0)
  }

  50% {
    transform: translateY(8px)
  }

  60% {
    transform: translateY(0)
  }

  80% {
    transform: translateY(8px)
  }

  90% {
    transform: translateY(0)
  }
}


@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-20px)
  }

  6% {
    opacity: 1;
    transform: scale(0.9) translateY(5px)
  }

  14% {
    opacity: 0;
    transform: scale(.4) translateY(40px)
  }

  15%, 19% {
    opacity: 0;
    transform: scale(.4) translateY(-20px)
  }

  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px)
  }

  30% {
    opacity: 1;
    transform: scale(1) translateY(-20px)
  }

  36% {
    opacity: 1;
    transform: scale(0.9) translateY(5px)
  }

  44% {
    opacity: 0;
    transform: scale(.4) translateY(40px)
  }

  45%, 49% {
    opacity: 0;
    transform: scale(.4) translateY(-20px)
  }

  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px)
  }

  60% {
    opacity: 1;
    transform: scale(1) translateY(-20px)
  }

  66% {
    opacity: 1;
    transform: scale(0.9) translateY(5px)
  }

  74% {
    opacity: 0;
    transform: scale(.4) translateY(40px)
  }

  75%, 79% {
    opacity: 0;
    transform: scale(.4) translateY(-20px)
  }

  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-20px)
  }
}



@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes breath {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes opacityChange {
  0% {
    opacity: .9;
  }
  50% {
    opacity: .4;
  }
  100% {
    opacity: .9;
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}