.industry_wrap_bg01 {
    background-image: url(img/pharma_bg_01.jpg);
    background-size: cover;
    background-color: blue;
}

.industry_wrap_bg02 {
    background-image: url(img/pharma_bg_02.jpg);
    background-size: cover;
}

.industry_wrap_bg03 {
    background-image: url(img/pharma_bg_03.jpg);
    background-size: cover;
}

.industry_wrap_bg04 {
    background-image: url(img/pharma_bg_04.jpg);
    background-size: cover;
}

.industry_wrap .one{
    position: relative;
    min-width: 1400px;
    overflow: auto;
    background-color: #836560;
}

.industry_wrap .one h4 {
    font-size: 20px;
    color: #fff;
  }

.industry_wrap .one h4 span {
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
    margin-right: 24px;
    width: 48px;
    height: 3px;
    background-color: #fff;
  }

  .industry_wrap .one .product_text{
    color: white;
    position: absolute;
    left: 110px;
    top: 180px;
}

.industry_wrap .one h3 {
    font-size: 72px;
    line-height: 86px;
    font-weight: lighter;
    
}

.industry_wrap .one p {
    font-size: 48px; 
    line-height: 60px;
    font-weight: lighter;
}

.industry_wrap .one .detailInfo {
    font-weight: lighter;
    font-size: 24px;
    padding-top: 20px;
    display: block;
    line-height: 40px;
}

.industry_wrap .one .industry_nav {
    position: absolute;
    left: 110px;
    bottom: 110px;
}

.industry_wrap .one .industry_nav li {
    float: left;
    height: 36px;
    margin-right: 20px;
}

.industry_wrap .one .industry_nav li a {
    font-size: 16px;
    background-color: #8d736e;
    border-radius: 12px;
    padding:0 24px;
    display: block;
}

.industry_wrap .one .industry_nav li.active a {
    background-color: #ec5d41;
}

.industry_wrap .one .industry_nav li a{
    color: white;
    line-height: 36px;
}

.industry_wrap .industryContent {
    margin:0 auto;
}

.industry_wrap .industryContent h1 {
    color: #ec5d41;
    font-weight: lighter;
    font-size: 60px;
    
}

.industry_wrap .industryContent p {
    
    width: 667px;
    position: relative;
} 

.industry_wrap .industryTopList_1 h1 {
    float: left;
}

.industry_wrap .sectionGraybg h1 {
    color: white;
    font-weight: lighter;
}

.industry_wrap .sectionGraybg h1 b {
    color: #ec5d41;
    font-weight: bolder;
}

.industry_wrap .industryTopList_1 p {
    float: right;
}

.industry_wrap .industryContent p span {
    position: absolute;
    left: -18px;
    top: 10px;
    width: 8px;
    height: 56px;
    background-color: #ec5d41;
}

.industry_wrap .industryTopList_1 .introImg {
    width: 1103px;
    height: 423px;
    display: block;
    margin:0 auto;
    clear: both;
}

.industry_wrap .industryContent h1 b {
    font-weight: bolder;
    display: block;
}

.industry_wrap .industryContent p {
    font-size: 22px;
    line-height: 30px;
    font-weight: lighter;
}

.left{
    float: left;
}

.right {
    float: right;
}

.industry_wrap .industryTopList_2 .left {
    width: 400px;
}

.industry_wrap .industryTopList_2 img.introImg {
    float: right;
    width:748px;
    height: 567px;
}

.industryTopList_2 h1 {
    color: white;
}

.industryTopList_2 p {
    color: white;
}

.industryTopList_3 img.introImg {
    float: left;
    width:786px;
    height: 580px;
}

.industryTopList_3 .right {
    width: 400px;
}

.hr_dash {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 1px;
    border-bottom: dotted #ec5d41;
}

.sectionGraybg {
    background-color: #785953;
}

.industryTopList_6 p {
    color: black;
}

.clearBoth{
    clear: both;
}

.tech_ball_01 {
    background-image: url(img/tech_ball_01.png);
    background-size: cover;
    position: absolute;
    left: 590px;
    top:150px;
    width: 70px;
    height: 70px;
}

.tech_ball_02 {
    background-image: url(img/tech_ball_02.png);
    background-size: cover;
    position: absolute;
    left: 1324px;
    top:618px;
    width: 100px;
    height: 100px;
}