.product_wrap_bg1 {
    background-image: url(img/home_product_bg1.jpg);
    background-size: cover;
}

.product_wrap_bg2 {
    background-image: url(img/home_product_bg2.jpg);
    background-size: cover;
}

.product_wrap_bg3 {
    background-image: url(img/home_product_bg3.jpg);
    background-size: cover;
}

.product_wrap_bg4 {
    background-image: url(img/home_product_bg4.jpg);
    background-size: cover;
}

.technoligy_wrap_bg1 {
    background-image: url(img/home_technoligy_bg1.jpg);
    background-size: cover;
}

.technoligy_wrap_bg2 {
    background-image: url(img/home_technoligy_bg2.jpg);
    background-size: cover;
}

.technoligy_wrap_bg3 {
    background-image: url(img/home_technoligy_bg3.jpg);
    background-size: cover;
}

.technoligy_wrap_bg4 {
    background-image: url(img/home_technoligy_bg4.jpg);
    background-size: cover;
}

.product_wrap {
    position: relative;
    min-width: 1400px;
    overflow: auto;
}

.product_wrap h4 {
    font-size: 20px;
    color: #fff;
    opacity: 0;
    animation: fadeIn 1s forwards .4s;
}
.product_wrap h4 span {
display: inline-block;
vertical-align: top;
margin-top: 9px;
margin-right: 24px;
width: 48px;
height: 3px;
background-color: #fff;
}

.product_wrap .product_text{
    padding-left: 110px;
    padding-top: 180px;
    color: white;
}

.product_wrap h3 {
    font-size: 72px;
    line-height: 86px;
    font-weight: lighter;
    opacity: 0;
    animation: fadeIn 1s forwards .9s;
    
}

.product_wrap p {
    font-size: 48px; 
    line-height: 60px;
    font-weight: lighter;
    opacity: 0;
    animation: fadeIn 1s forwards 1.4s;
}
.product_wrap p i {
    font-style: normal;
    font-size: 60px;
}

.product_wrap .detailInfo {
    font-weight: lighter;
    font-size: 24px;
    padding-top: 20px;
    display: block;
    line-height: 40px;
    opacity: 0;
    animation: fadeIn 1s forwards 1.9s;
}

.product_nav {
    position: absolute;
    left: 110px;
    bottom: 110px;
}

/* .product_nav li {
    float: left;
    height: 36px;
    margin-right: 20px;
}

.product_nav li a {
    font-size: 16px;
    background-color: #62a3b3;
    border-radius: 12px;
    padding:0 24px;
    display: block;
}

.technoligy_nav_bg li a {
    background-color: #c4596b;
} 

.product_nav li.active a {
    background-color: #ec5d41;
}

.product_nav li a{
    color: white;
    line-height: 36px;
} */

.product_ball_01 {
    background-image: url(img/tech_ball_01.png);
    background-size: cover;
    position: absolute;
    left: 524px;
    top:160px;
    width: 70px;
    height: 70px;
    animation: upDown 5s infinite;
}

.product_ball_02 {
    background-image: url(img/tech_ball_02.png);
    background-size: cover;
    position: absolute;
    left: 1106px;
    top:400px;
    width: 100px;
    height: 100px;
    animation: upDown 4.5s infinite;
}

.tech_ball_01 {
    background-image: url(img/tech_ball_01.png);
    background-size: cover;
    position: absolute;
    left: 590px;
    top:150px;
    width: 70px;
    height: 70px;
    animation: upDown 5s infinite;
}

.tech_ball_02 {
    background-image: url(img/tech_ball_02.png);
    background-size: cover;
    position: absolute;
    left: 1324px;
    top:618px;
    width: 100px;
    height: 100px;
    animation: upDown 4.5s infinite;
}

.clearBoth {
    clear: both;
    display: block;
}